# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

# DOCKER VARIABLES FOR AUTOMATION
SUDO=sudo                                               # <- how local user executes system commands - leave it empty if not necessary ----------------------> #
DOCKER=sudo docker                                      # <- how local user executes Docker commands --------------------------------------------------------> #
DOCKER_COMPOSE=sudo docker compose                      # <- how local user executes "docker compose" or docker-compose command -----------------------------> #

# CONTAINERS BASE INFORMATION FOR BUILDING WITH docker-compose.yml
PROJECT_NAME="PLATFORMS DOCKER"                         # <- project name will be used for automation outputs -----------------------------------------------> #
PROJECT_LEAD=abbr                                       # <- lead abbreviation or acronym as part of related containers naming rule -------------------------> #
PROJECT_HOST="127.0.0.1"                                # <- machine hostname referrer - not necessary for this project -------------------------------------> #
PROJECT_CNET=mp-dev                                     # <- useful when a network is required for container connections between each other -----------------> #

# API - LOCAL
APIREST_PLTF=nginx-php-8.5                              # <- platform assets directory's name ---------------------------------------------------------------> #
APIREST_IMGK=alpine-3.24-nginx-php8.5                   # <- main container property for pulling and caching image into docker ------------------------------> #
APIREST_PORT=7710                                       # <- local machine port opened for container service ------------------------------------------------> #
APIREST_BIND="../../../api-rest"                        # <- path where application is binded from container to local ---------------------------------------> #
APIREST_CAAS=mp-apirest-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
APIREST_CAAS_USER=osuser                                # <- container's project directory user -------------------------------------------------------------> #
APIREST_CAAS_GROUP=osgroup                              # <- container's project directory group ------------------------------------------------------------> #
APIREST_CAAS_CPUS=2.00                                  # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
APIREST_CAAS_MEM=128M                                   # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
APIREST_CAAS_SWAP=256M                                  # <- container's RAM swap space in storage executed by automation command ---------------------------> #

# MONGODB - LOCAL
MONGODB_PLTF=mongodb-8                                  # <- platform assets directory's name ---------------------------------------------------------------> #
MONGODB_IMGK="mongo:8.2.4"                              # <- main container property for pulling and caching image into docker ------------------------------> #
MONGODB_DATA="../data"                                  # <- container persistant data on local machine -----------------------------------------------------> #
MONGODB_CAAS=mp-mongodb-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
MONGODB_CPUS=2.00                                       # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
MONGODB_MEMO=512M                                       # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MONGODB_SWAP=1G                                         # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MONGODB_PORT=7711                                       # <- local machine port opened for container service ------------------------------------------------> #
MONGODB_NAME=dev_local                                  # <- default database name --------------------------------------------------------------------------> #
MONGODB_USER=devuser                                    # <- database user ----------------------------------------------------------------------------------> #
MONGODB_PASS="devpass"                                  # <- database password ------------------------------------------------------------------------------> #
MONGODB_APP_IMGK="mongo-express"                        # <- client's container property for the ui application for pulling and caching image into docker ---> #
MONGODB_APP_CPUS=1.00                                   # <- client's container maximum CPUs usage to apply by docker-compose - empty for full usage --------> #
MONGODB_APP_MEMO=128M                                   # <- client's container maximum RAM usage to apply by docker-compose --------------------------------> #
MONGODB_APP_SWAP=256M                                   # <- client's container RAM swap space in storage executed by automation command --------------------> #
MONGODB_APP_PORT=7712                                   # <- local machine port opened for client's container service client --------------------------------> #
MONGODB_APP_USER=admuser                                # <- database client first user account -------------------------------------------------------------> #
MONGODB_APP_PASS="admpass"                              # <- database client first user password ------------------------------------------------------------> #

# MAILER - LOCAL
MAILER_PLTF=mailhog-1.0                                 # <- platform assets directory's name ---------------------------------------------------------------> #
MAILER_IMGK=alpine-3.12-mailhog-1.0                     # <- main container property for pulling and caching image into docker ------------------------------> #
MAILER_PORT=7713                                        # <- local machine port opened for container service ------------------------------------------------> #
MAILER_CAAS=mp-mailhog-dev                              # <- container name to build the service - it is important to set the environment in this variable --> #
MAILER_CAAS_CPUS=2.00                                   # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
MAILER_CAAS_MEM=128M                                    # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MAILER_CAAS_SWAP=256M                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MAILER_APP_PORT=7714                                    # <- application ui management port -----------------------------------------------------------------> #

# BROKER - LOCAL
BROKER_PLTF=rabbitmq-4.2                                # <- platform assets directory's name ---------------------------------------------------------------> #
BROKER_IMGK=rabbitmq:4.2-management-alpine              # <- main container property for pulling and caching image into docker ------------------------------> #
BROKER_PORT=7715                                        # <- local machine port opened for container service ------------------------------------------------> #
BROKER_BIND="./rabbitmq_data"                           # <- platform broker data storage in local ----------------------------------------------------------> #
BROKER_CAAS=mp-rabbitmq-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
BROKER_CAAS_CPUS=2.00                                   # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
BROKER_CAAS_MEM=128M                                    # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
BROKER_CAAS_SWAP=256M                                   # <- container's RAM swap space in storage executed by automation command ---------------------------> #
BROKER_APP_PORT=7716                                    # <- application ui management port -----------------------------------------------------------------> #
BROKER_APP_USER=guest                                   # <- application ui management user -----------------------------------------------------------------> #
BROKER_APP_PASS=guest                                   # <- application ui management password -------------------------------------------------------------> #
BROKER_APP_COOKIE="guest-password"                      # <- application security ---------------------------------------------------------------------------> #
BROKER_APP_NODENAME=rabbit@rabbitmq                     # <- application configuration ----------------------------------------------------------------------> #
