# REMOVE COMMENTS WHEN COPY THIS FILE AND TRIM TRAILING WHITESPACES
# Ask the team for recommended values

# ENGINE DEFINITION (docker or podman)
CONTAINER_ENGINE=docker                                 # <- must define container engine system ------------------------------------------------------------> #

# CONTAINER VARIABLES FOR AUTOMATION
SUDO=sudo                                               # <- user priviledge for running engine commands, left blank if for running without sudo ------------> #
DOCKER=$(SUDO) $(CONTAINER_ENGINE)                      # <- engine core command generator ------------------------------------------------------------------> #
DOCKER_COMPOSE=$(SUDO) $(CONTAINER_ENGINE) compose      # <- targets "docker compose" / "docker-compose" or "podman compose" --------------------------------> #

# CONTAINERS BASE INFORMATION FOR BUILDING WITH docker-compose.yml
PROJECT_NAME="PLATFORMS DOCKER"                         # <- project name will be used for automation outputs -----------------------------------------------> #
PROJECT_LEAD=myproj                                     # <- lead abbreviation or acronym as part of related containers naming rule -------------------------> #
PROJECT_HOST="127.0.0.1"                                # <- machine hostname referrer - not necessary for this project -------------------------------------> #
PROJECT_CNET=mp-dev                                     # <- useful when a network is required for container connections between each other -----------------> #

# API - LOCAL
APIREST_PLTF=nginx-php-8.5                              # <- platform assets directory's name ---------------------------------------------------------------> #
APIREST_IMGK=alpine-3.24-nginx-php-8.5                  # <- real main image keys to manage automations for sharing resources -------------------------------> #
APIREST_PORT=7710                                       # <- local machine port opened for container service ------------------------------------------------> #
APIREST_BIND="../../../api-rest"                        # <- path where application is binded from container to local ---------------------------------------> #
APIREST_CAAS=mp-api-dev                                 # <- container name to build the service - it is important to set the environment in this variable --> #
APIREST_CPUS=2.00                                       # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
APIREST_MEMO=128M                                       # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
APIREST_SWAP=256M                                       # <- container's RAM swap space in storage executed by automation command ---------------------------> #
APIREST_USER=osuser                                     # <- container's project directory user -------------------------------------------------------------> #
APIREST_GROUP=osgroup                                   # <- container's project directory group ------------------------------------------------------------> #

# MONGODB - LOCAL
MONGODB_PLTF=mongodb-8                                  # <- platform assets directory's name ---------------------------------------------------------------> #
MONGODB_IMGK="mongo:8.2.4"                              # <- main container property for pulling and caching image into docker ------------------------------> #
MONGODB_CAAS=mp-mongodb-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
MONGODB_CPUS=2.00                                       # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
MONGODB_MEMO=512M                                       # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MONGODB_SWAP=1G                                         # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MONGODB_PORT=7711                                       # <- local machine port opened for container service ------------------------------------------------> #
MONGODB_DATA="./data"                                   # <- container persistant data on local machine -----------------------------------------------------> #
MONGODB_LOGS="./logs"                                   # <- container logs binding in local machine --------------------------------------------------------> #
MONGODB_NAME=dev_local                                  # <- default database name --------------------------------------------------------------------------> #
MONGODB_USER=devuser                                    # <- database user ----------------------------------------------------------------------------------> #
MONGODB_PASS="devpass"                                  # <- database password ------------------------------------------------------------------------------> #
MONGODB_CLIENT_IMGK="mongo-express"                     # <- client's container property for the ui application for pulling and caching image into docker ---> #
MONGODB_CLIENT_CPUS=1.00                                # <- client's container maximum CPUs usage to apply by docker-compose - empty for full usage --------> #
MONGODB_CLIENT_MEMO=128M                                # <- client's container maximum RAM usage to apply by docker-compose --------------------------------> #
MONGODB_CLIENT_SWAP=256M                                # <- client's container RAM swap space in storage executed by automation command --------------------> #
MONGODB_CLIENT_PORT=7712                                # <- local machine port opened for client's container service client --------------------------------> #
MONGODB_CLIENT_USER=admin.user                          # <- database client first user account -------------------------------------------------------------> #
MONGODB_CLIENT_PASS="admin-pass"                        # <- database client first user password ------------------------------------------------------------> #

# MAILER - LOCAL
MAILER_PLTF=mailhog-1                                   # <- platform assets directory's name ---------------------------------------------------------------> #
MAILER_IMGK=alpine-3.12-mailhog-1.0                     # <- real main image keys to manage automations for sharing resources -------------------------------> #
MAILER_PORT=7712                                        # <- local machine port opened for container service ------------------------------------------------> #
MAILER_DATA="./data"                                    # <- platform data storage in local -----------------------------------------------------------------> #
MAILER_LOGS="./logs"                                    # <- platform logs storage in local -----------------------------------------------------------------> #
MAILER_CAAS=mp-mailhog-dev                              # <- container name to build the service - it is important to set the environment in this variable --> #
MAILER_CPUS=2.00                                        # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
MAILER_MEMO=128M                                        # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
MAILER_SWAP=256M                                        # <- container's RAM swap space in storage executed by automation command ---------------------------> #
MAILER_APP_PORT=7713                                    # <- application ui management port -----------------------------------------------------------------> #

# BROKER - LOCAL
BROKER_PLTF=rabbitmq-4                                  # <- platform assets directory's name ---------------------------------------------------------------> #
BROKER_IMGK=rabbitmq:4-management-alpine                # <- real main image keys to manage automations for sharing resources -------------------------------> #
BROKER_PORT=7714                                        # <- local machine port opened for container service ------------------------------------------------> #
BROKER_DATA="./data"                                    # <- platform data storage in local -----------------------------------------------------------------> #
BROKER_LOGS="./logs"                                    # <- platform logs storage in local -----------------------------------------------------------------> #
BROKER_CAAS=mp-rabbitmq-dev                             # <- container name to build the service - it is important to set the environment in this variable --> #
BROKER_CPUS=2.00                                        # <- container's maximum CPUs usage to apply by docker-compose - leave it empty for full usage ------> #
BROKER_MEMO=128M                                        # <- container's maximum RAM usage to apply by docker-compose ---------------------------------------> #
BROKER_SWAP=256M                                        # <- container's RAM swap space in storage executed by automation command ---------------------------> #
BROKER_APP_PORT=7715                                    # <- application ui management port -----------------------------------------------------------------> #
BROKER_APP_USER=guest                                   # <- application ui management user -----------------------------------------------------------------> #
BROKER_APP_PASS="guest"                                 # <- application ui management password -------------------------------------------------------------> #
BROKER_APP_COOKIE="guest-password"                      # <- application security ---------------------------------------------------------------------------> #
BROKER_APP_NODENAME="rabbit@rabbitmq"                   # <- application configuration ----------------------------------------------------------------------> #
